@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie- Flower', cursive;
}

.error-message {
    font-size: 1.5rem;
    color: red;
    text-align: center;
}